# Environment Variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Database
db.json

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Build
dist/
build/
